body {
    cursor: url(http://liluo-ziyuan.oss-cn-hangzhou.aliyuncs.com/theme/aurora/mouse/01%E6%AD%A3%E5%B8%B8%E9%80%89%E6%8B%A9_05.cur),
        default;
}
a,
img {
    cursor: url(http://liluo-ziyuan.oss-cn-hangzhou.aliyuncs.com/theme/aurora/mouse/01%E6%AD%A3%E5%B8%B8%E9%80%89%E6%8B%A9_05.cur),
        default;
}

span {
    cursor: url(http://liluo-ziyuan.oss-cn-hangzhou.aliyuncs.com/theme/aurora/mouse/01%E6%AD%A3%E5%B8%B8%E9%80%89%E6%8B%A9_05.cur),
        default;
}

div {
    cursor: url(http://liluo-ziyuan.oss-cn-hangzhou.aliyuncs.com/theme/aurora/mouse/01%E6%AD%A3%E5%B8%B8%E9%80%89%E6%8B%A9_05.cur),
        default;
}

li {
    cursor: url(http://liluo-ziyuan.oss-cn-hangzhou.aliyuncs.com/theme/aurora/mouse/01%E6%AD%A3%E5%B8%B8%E9%80%89%E6%8B%A9_05.cur),
        default;
}